@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>

<img src="~/Images/Beslan_Sample.png" alt="KI Map" height="697" width="1307" class="rounded"/>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
}