@{
    ViewBag.Title = "PlayerStats";
}

<h2>PlayerStats</h2>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/dynatable")
    @Scripts.Render("~/bundles/app")
}