@{
    ViewBag.Title = "ServerStats";
}

<h2>ServerStats</h2>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/dynatable")
    @Scripts.Render("~/bundles/app")
}