body {
    background: linear-gradient(to bottom, rgba(75,75,82,0.75) 0%, rgba(75,75,82,0) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#body {
    background: linear-gradient(#808080, #ffffff, #808080);
}

.table {
    border-collapse: collapse;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.table th {
    background-color: #111010;
    border: 1px solid black;      
}

.table th a {
    color: #fff;
}

.table tr {
    background-color: #bebebe;
    border: 1px solid black;
}

    
    
