
/* Colors for the vertical lines that appear in the dashboard header */
.dash-col-lblue:after {
    background: #66a3ff;
}

.dash-col-lorange:after {
    background: #ff8566;
}

.dash-col-orange:after {
    background: #ff8c66;
}

.dash-col-lred:after {
    background: #cc3300;
}

.dash-col-lgreen:after {
    background: #669900;
}

.dash-col-lgold:after {
    background: #ffc966;
}

.dash-col-lpurple:after {
    background: #6666ff;
}

.dash-col-tan:after {
    background: #ffc266;
}

.dash-col-green:after {
    background: #009900;
}

.dash-col-brown:after {
    background: #663300;
}

.dash-col-dpink:after {
    background: #660033;
}

.dash-col-dark:after {
    background: #262626;
}

.dash-col-gray:after {
    background: #999999;
}




.dash-columns-eight {
    float: left;
    width: 12%;
    position: relative;
}

.dash-columns-eight:after {
    content: "";
    position: absolute;
    bottom: 20%;
    left: 0;
    height: 73%;
    width: 2px;
}

.dash-columns-three {
    float: left;
    width: 30%;
    position: relative;
}


.dash-row {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Clear floats after the columns */
    .dash-row:after {
        content: "";
        display: table;
        clear: both;
    }

    .dash-header {
        line-height: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .dash-header-large-font {
        font-size: 22px;
        font-weight: bold;
        color: #333333;
    }

    .dash-header-small-font {
        font-size: 10px;
        color: #808080;
    }

    .dark-gray-font {
        color: #333333;
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(67, 67, 72, 0.75), rgba(0, 0, 0, 0));
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        background-color: #f1f2f4;
    }

    h2 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    h3 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 19px !important;
    }



    .linechart {
        width: 50%;
        float: left;
        position: relative;
        height: 300px;
        margin: 0 auto;
    }

    .piechart {
        width: 50%;
        float: left;
        position: relative;
        height: 200px;
        margin: 0 auto;
    }

    .dash-main-title {
        margin-bottom: 5px;
    }

    .dash-sub-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .dash-background-color {
        background-color: #F6F8F9;
    }

    /*
.dash-background-lighter-color {
    background-color: #f1f2f4;
}
*/