
@{
    ViewBag.Title = "Kaukasus Insurgency";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<header>
</header>

<div id="main-content">
    <p class="error" data-bind="text: error"></p>
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
</div>


@section scripts {
    @Scripts.Render("~/bundles/knockout")
}